<section id="todoapp">
  <header id="header">
    <h1>ToDo List</h1>
    <form id="todo-form" ng-submit="ctrl.addTodo()">
      <input id="new-todo" placeholder="What needs to be done?" ng-model="ctrl.newTodo" autofocus>
    </form>
  </header>
  <section id="main" ng-show="ctrl.todos.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="ctrl.allChecked" ng-click="ctrl.markAll(allChecked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
      <li ng-repeat="todo in ctrl.todos | filter:ctrl.statusFilter track by $index"
        ng-class="{ completed: todo.completed, editing: todo == ctrl.editedTodo }">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="todo.completed">
          <label ng-dblclick="ctrl.editTodo(todo)">{{ todo.title }}</label>
          <button class="destroy" ng-click="ctrl.removeTodo(todo)"></button>
        </div>
        <form ng-submit="ctrl.doneEditing(todo)">
          <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="ctrl.revertEditing(todo)"
            ng-blur="ctrl.doneEditing(todo)" todo-focus="todo == ctrl.editedTodo">
        </form>
      </li>
    </ul>
  </section>
  <footer id="footer" ng-show="ctrl.todos.length" ng-cloak>
    <span id="todo-count"><strong>{{ ctrl.remainingCount }}&nbsp;</strong>
      <ng-pluralize count="ctrl.remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
    </span>
    <ul id="filters">
      <li>
        <a ng-class="{ selected: ctrl.status == '' }" href="#/">All</a>
      </li>
      <li>
        <a ng-class="{ selected: ctrl.status == 'active' }" href="#/active">Active</a>
      </li>
      <li>
        <a ng-class="{ selected: ctrl.status == 'completed' }" href="#/completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed"
      ng-click="ctrl.clearCompletedTodos()"
      ng-show="ctrl.completedCount">
      Clear completed ({{ ctrl.completedCount }})</button>
  </footer>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Credits:
    <a href="http://twitter.com/welcoMattic">Mathieu Santostefano</a> and
    <a href="http://github.com/Kl0tl">Cyril Sobierajewicz</a>
  </p>
</footer>
